@using WISSEN.EDA.Models.ViewModels

@model OrderViewModel

@{
    ViewData["Title"] = Model.Order?.Id == 0 ? "Add Order" : "Edit Order";

    if (Model.Order?.Id > 0)
    {
        var OrderCustomerId = Model.Order.Customer!.Id;
    }
}

@section Styles {
    <link href="~/lib/mdb-ui-kit/mdb.min.css" rel="stylesheet" />
    <style>
        .cust-head {
            padding: 10px;
        }

        .section {
            padding: 20px 0;
            background-color: #e3f2fd
        }

        .section-header {
            color: white;
            padding: 6px 10px;
            font-weight: bold;
            border: 1px solid #ccc;
            margin-bottom: 10px;
        }

        .align-right {
            text-align: right;
        }

        .field-label {
            text-align: right;
            color: #363636;
        }

        .control-input {
            display: inline-block;
            width: 70%;
        }

        .nav-tabs .nav-link.active {
            background-color: #e3f2fd !important;
            border-color: #e3f2fd !important;
            font-weight: 600;
        }
    </style>
}

@section Scripts {
    <script src="~/lib/mdb-ui-kit/mdb.umd.min.js"></script>
    <script src="~/js/commons.js"></script>
    <script src="~/js/order.js"></script>
}

@* Update the heading to reflect the mode *@
<div class="text-center">
    <h1 class="display-5">@(Model.Order?.Id == 0 ? "Add Order" : "Edit Order")</h1>
</div>

<form method="post"
      asp-action="@(Model.Order?.Id == 0 ? "SaveOrder" : "UpdateOrder")" asp-controller="Orders">

    @* Add hidden field for Order ID *@
    <input type="hidden" asp-for="Order!.Id" />

    @* add action buttons *@
    <div class="mb-4 row">
        <div class="col-md-7 d-flex" id="message-container"></div>
        @* <div class="col-md-2 d-flex justify-content-center" id="page-navigation"><i class="bi bi-caret-left"></i> <i class="bi bi-1-circle"></i> <i class="bi bi-caret-right-fill"></i></div> *@
        <div class="col-md-5 d-flex justify-content-end">
            <button id="btnSaveOrder" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#btnSaveOrder" type="submit" asp-action="SaveOrder" asp-controller="Orders">
                <i class="bi bg-success bi-plus-square"></i> &nbsp; SAVE ORDER
            </button> &nbsp;
            <button id="btnCancel" class="btn btn-primary" type="button" onclick="window.location.href='@Url.Action("Index", "Orders")'">
                <i class="bi bg-danger bi-x-square"></i> &nbsp; CANCEL
            </button>
        </div>
    </div>

    @* add cusomter fields *@
    <div class="mb-4 row">
        <input type="hidden" asp-for="Order!.CreatedBy" />
        @* add fixed fields *@
        <div class="row justify-content-around bg-primary cust-head">
            <div class="mb-2 col-md-2">
                <label asp-for="Order.SalesRepName" class="text-white">Sales Rep</label>
                <input type="text" asp-for="Order.SalesRepName" placeholder="Sales Representative" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.CustomerPONo" class="text-white">Customer PO #</label>
                <input type="text" asp-for="Order.CustomerPONo" placeholder="Customer PO No" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.ContractNo" class="text-white">Contract #</label>
                <input type="text" asp-for="Order.ContractNo" placeholder="Contract No" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.OrderDate" class="text-white">Order Date</label>
                <input type="text" asp-for="Order.OrderDate" placeholder="Cust. Order Date" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.Customer.BillToNo" class="text-white">Bill To No</label>
                <select name="Order.Customer.BillToNo" asp-for="Order.Customer.BillToNo" id="BillToNo" title="Choose Bill to No" class="form-control"></select>
            </div>
            <div class="mb-2 col-md-2">
                <label asp-for="Order.Customer.BillToName" class="text-white">Bill To Name</label>
                <input type="text" asp-for="Order.Customer.BillToName" placeholder="Bill To Name" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.Customer.ShipToNo" class="text-white">Ship To No</label>
                <select name="Order.Customer.ShipToNo" asp-for="Order.Customer.ShipToNo" id="ShipToNo" title="Choose Ship to No" class="form-control"></select>
            </div>
            <div class="mb-2 col-md-2">
                <label asp-for="Order.Customer.ShipToName" class="text-white">Ship To Name</label>
                <input type="text" asp-for="Order.Customer.ShipToName" placeholder="Ship To Name" class="form-control" />
            </div>
            <div class="mb-2 col-md-1">
                <label asp-for="Order.Customer.Company" class="text-white">Company</label>
                <input type="text" asp-for="Order.Customer.Company" placeholder="Company" class="form-control" />
            </div>
        </div>

        @* define cusomter tab fields *@
        <div class="row cust-head">
            <!-- Tabs navs -->
            <ul class="nav nav-tabs nav-justified" id="order-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a data-mdb-tab-init
                       class="nav-link active"
                       id="order-page-1"
                       href="#order-pages-1"
                       role="tab"
                       aria-controls="order-pages-1"
                       aria-selected="true">Page 1</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a data-mdb-tab-init
                       class="nav-link"
                       id="order-page-2"
                       href="#order-pages-2"
                       role="tab"
                       aria-controls="order-pages-2"
                       aria-selected="false">Page 2</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a data-mdb-tab-init
                       class="nav-link"
                       id="order-page-3"
                       href="#order-pages-3"
                       role="tab"
                       aria-controls="order-pages-3"
                       aria-selected="false">Page 3</a>
                </li>
            </ul>
            <!-- Tabs navs -->
            <!-- Tabs content -->
            <div class="tab-content" id="order-tabs-content">

                @* Tab setup Page 1*@
                <div class="tab-pane fade show active"
                     id="order-pages-1"
                     role="tabpanel"
                     aria-labelledby="order-page-1">
                    <div class="row justify-content-around section">
                        @* Customer 'Bill To' Address *@
                        <div class="mb-1 col-md-4 form-horizontal">
                            <input type="hidden" asp-for="Order.Customer.BillToAddressId" />
                            <div class="section-header bg-primary">Customer 'Bill To' Address</div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.ContactName">Contact Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer.BillToAddress.ContactName" placeholder="Contact Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.Name">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer.BillToAddress.Name" placeholder="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.AddressLine">Address</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer.BillToAddress.AddressLine" placeholder="Address" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.City">City</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer.BillToAddress.City" placeholder="City" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.State">State/Province</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer.BillToAddress.State" placeholder="State" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <input type="hidden" asp-for="Order.Customer.BillToAddress.CountryCode" />
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer.BillToAddress.CountryCode">Country</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="BillToAddressCountryCode" asp-for="Order.Customer!.BillToAddress!.CountryCode" id="BillToAddressCountryCode" title="Choose Country" class="form-control"></select>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.Zip">Zip</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.Zip" placeholder="Zip" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.Phone">Phone</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.Phone" placeholder="Phone" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.Email">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.Email" placeholder="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.Website">Website</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.Website" placeholder="Website URL" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.TaxId">Tax Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.TaxId" placeholder="Tax Id" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.VATNo">VAT No</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BillToAddress!.VATNo" placeholder="VAT No" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BillToAddress!.AdditionalEmails">Additional Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer!.BillToAddress!.AdditionalEmails" placeholder="Additional Email" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        @* consignee 'Ship To' Address *@
                        <div class="mb-1 col-md-4 form-horizontal">
                            <input type="hidden" asp-for="Order.Customer!.ShipToAddressId" />
                            <div class="section-header bg-primary">Consignee 'Ship To' Address</div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.ContactName">Contact Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.ContactName" placeholder="Contact Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.Name">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.Name" placeholder="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.AddressLine">Address</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer!.ShipToAddress!.AddressLine" placeholder="Address" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.City">City</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.City" placeholder="City" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.State">State/Province</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.State" placeholder="State" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <input type="hidden" asp-for="Order.Customer!.ShipToAddress!.CountryCode" />
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.CountryCode">Country</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="ShipToAddressCountryCode" asp-for="Order.Customer!.ShipToAddress!.CountryCode" id="ShipToAddressCountryCode" title="Choose Country" class="form-control"></select>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.Zip">Zip</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.Zip" placeholder="Zip" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.Phone">Phone</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.Phone" placeholder="Phone" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.Email">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.Email" placeholder="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.Website">Website</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.Website" placeholder="Website URL" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.TaxId">Tax Id</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.TaxId" placeholder="Tax Id" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.VATNo">VAT No</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.ShipToAddress!.VATNo" placeholder="VAT No" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.ShipToAddress!.AdditionalEmails">Additional Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer!.ShipToAddress!.AdditionalEmails" placeholder="Additional Email" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        @* Bank Information (D/P Terms Only) *@
                        <div class="mb-1 col-md-4 form-horizontal">
                            <input type="hidden" asp-for="Order.Customer!.BankAddressId" />
                            <div class="section-header bg-primary">Bank Information (D/P Terms Only)</div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.ContactName">Contact Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.ContactName" placeholder="Contact Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.Name">Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.Name" placeholder="Name" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.AddressLine">Address</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer!.BankAddress!.AddressLine" placeholder="Address" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.City">City</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.City" placeholder="City" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.State">State/Province</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.State" placeholder="State" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.CountryCode">Country</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="BankAddressCountryCode" asp-for="Order.Customer!.BankAddress!.CountryCode" id="BankAddressCountryCode" title="Choose Country" class="form-control"></select>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.Zip">Zip</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.Zip" placeholder="Zip" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.Phone">Phone</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.Phone" placeholder="Phone" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.BankAddress!.Email">Email</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" asp-for="Order.Customer!.BankAddress!.Email" placeholder="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="section-header bg-primary">
                                Customer Booking Email Address(es)
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-4 align-right">
                                    <label asp-for="Order.Customer!.CustomerBookingEmails">Customer Booking Emails</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea asp-for="Order.Customer!.CustomerBookingEmails" placeholder="Customer Booking Emails" class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* Tab setup Page 2*@
                <div class="tab-pane fade"
                     id="order-pages-2"
                     role="tabpanel"
                     aria-labelledby="order-page-2">
                    <div class="row justify-content-around section">
                        <div class="mb-1 col-md-4 form-horizontal">
                            <div class="section-header bg-primary">Other Details</div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.UltimateConsgineeTypeId">Ship Via</label>
                                </div>
                                <div class="col-sm-7">
                                    @* <select name="UltimateConsgineeTypeId" asp-for="Order.Customer!.UltimateConsgineeTypeId" id="UltimateConsgineeTypeId" title="Choose Country" class="form-control"></select> *@
                                    @Html.DropDownListFor(m => m.ConsigneeTypes,
                                             new SelectList(Model.ConsigneeTypes, "Id", "Key"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.PaymentTermId">Payment Terms</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" asp-for="Order.Customer!.PaymentTermId" placeholder="Payment Term" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.Incoterm2020Id">Incoterms</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" asp-for="Order.Customer!.Incoterm2020Id" placeholder="Incoterm" class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.IsImportPermitRequired">Import Permit Required?</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsImportPermitRequired" id="ImportPermitRequiredYes" value="Yes">
                                        <label class="form-check-label" for="ImportPermitRequiredYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsImportPermitRequired" id="ImportPermitRequiredNo" value="No">
                                        <label class="form-check-label" for="ImportPermitRequiredNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.IsPermitReceived">Permit Received?</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Order.IsPermitReceived" id="PermitReceivedYes" value="Yes">
                                        <label class="form-check-label" for="PermitReceivedYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Order.IsPermitReceived" id="PermitReceivedNo" value="No">
                                        <label class="form-check-label" for="PermitReceivedNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.UltimateConsgineeTypeId">Container Size</label>
                                </div>
                                <div class="col-sm-7">
                                    @* <select name="UltimateConsgineeTypeId" asp-for="Order.Customer!.UltimateConsgineeTypeId" id="UltimateConsgineeTypeId" title="Choose Country" class="form-control"></select> *@
                                    @Html.DropDownListFor(m => m.ConsigneeTypes,
                                             new SelectList(Model.ConsigneeTypes, "Id", "Key"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.IsPermitReceived">Proforma Invoice Needed?</label>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Order.IsPermitReceived" id="PermitReceivedYes" value="Yes">
                                        <label class="form-check-label" for="PermitReceivedYes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" asp-for="Order.IsPermitReceived" id="PermitReceivedNo" value="No">
                                        <label class="form-check-label" for="PermitReceivedNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.UltimateConsgineeTypeId">Request Container Loading</label>
                                </div>
                                <div class="col-sm-7">
                                    @* <select name="UltimateConsgineeTypeId" asp-for="Order.Customer!.UltimateConsgineeTypeId" id="UltimateConsgineeTypeId" title="Choose Country" class="form-control"></select> *@
                                    @Html.DropDownListFor(m => m.ConsigneeTypes,
                                             new SelectList(Model.ConsigneeTypes, "Id", "Key"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-5 align-right">
                                    <label asp-for="Order.Customer!.Incoterm2020Id">Requested ETA</label>
                                </div>
                                <div class="col-sm-7">
                                    <input type="text" asp-for="Order.Customer!.Incoterm2020Id" placeholder="Requested ETA Date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        @* TODO: Paperworks *@
                        <div class="mb-1 col-md-4 form-horizontal">
                            <div class="section-header bg-primary">Paperworks</div>
                            <div class="mb-3">
                                <table class="table w-auto">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="w-50">Paperwork</th>
                                            <th scope="col">Required?</th>
                                            <th scope="col">Org. Qty</th>
                                            <th scope="col">Cpy. Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* @for (int i = 0; i < Model.Order!.Customer!.Paperworks!.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.Order.Customer.Paperworks[i].Paperwork!.Value
                                                    <input type="hidden" asp-for="Paperworks[i].PaperworkId" value="@Model.Paperworks[i].PaperworkId" />
                                                </td>
                                                <td>
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           asp-for="Paperworks[i].Required" />
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm"
                                                           type="number"
                                                           asp-for="Paperworks[i].OriginalQuantity" />
                                                </td>
                                                <td>
                                                    <input class="form-control form-control-sm"
                                                           type="number"
                                                           asp-for="Paperworks[i].CopyQuantity" />
                                                </td>
                                            </tr>
                                        } *@
                                    </tbody>
                                </table>
                            </div>
                            <div class="section-header bg-primary">Attachments</div>
                            <div class="mb-3">
                                <input class="form-control" type="file" id="CustomerAttachments" multiple>
                            </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-12">
                                    <!-- show attached files -->
                                </div>
                            </div>
                        </div>

                        <div class="mb-1 col-md-4 form-horizontal">
                            <div class="section-header bg-primary">Special Shipping Instructions </div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-12">
                                    <textarea asp-for="Order.Customer!.ImportPermitNotes" rows="4" placeholder="Enter special shipping instructions (Labels, Barcodes, Packaging)" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="section-header bg-primary">Special Lableing / SKU# (Specify)</div>
                            <div class="row mb-1 form-group">
                                <div class="col-sm-12">
                                    <textarea asp-for="Order.Customer!.ExportComments" rows="4" placeholder="Enter special lableing / SKU# (Specify):" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</form>
